/**
 * ViewGit website default stylesheet
 */

body {
	color: #444;
	background-color: white;
}

h1 {
	font-style: italic;
	font-size: 140%;
	margin: 0;
}

h2 {
	font-size: 120%;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-right: 5em;
}

#nav {
	border-top: 1px solid black;
	display: block;
	width: 100%;
	min-height: 2em;
	font-size: 90%;
}

#nav ul {
	margin: 0;
	padding: 0;
	display: inline;
}

#nav ul li {
	list-style-type: none;
	display: inline;
}

#nav a {
	display: block;
	text-decoration: none;
	color: #f99;
	font-weight: bold;
	float: left;
	border-bottom: 2px solid white;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

#nav a:before {
	content: '[';
}

#nav a:after {
	content: ']';
}

#nav a:hover {
	color: #f55;
	background-color: #ddd;
	border-bottom: 2px solid black;
}

#content {
}

pre {
	background-color: #ddd;
	padding: 1em;
}

pre.license {
	background-color: #ddd;
	padding: 3em;
	max-width: 50em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

